<footer class="text-center text-white bg-dark">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social media -->
    <section>
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark me-1"
        href="https://www.facebook.com/profile.php?id=100011888265174"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-facebook text-white"></i></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark me-1"
        href="https://twitter.com/smit90294475?t=aerTzxupJgsvb_bOPPN3EQ&s=09"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-twitter text-white"></i></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark me-1"
        href="https://instagram.com/smit_patel_33?utm_medium=copy_link"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-instagram text-white"></i></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark me-1"
        href="https://www.linkedin.com/in/smit-sojitra"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-linkedin text-white"></i></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark me-1"
        href="https://github.com/smit153"
        role="button"
        data-mdb-ripple-color="dark"
      ><i class="bi bi-github text-white"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

</footer>