<header>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark py-3 fixed-top">
    <div class="container">
      <img src="/img/weather.png" alt="" height="50" />
      <a href="/" class="navbar-brand">Weather App</a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="container mw-100">
        <div>
          <div class="input-group mw-100" id="search">
            <input
              class="form-control my-input mw-100"
              id="input"
              type="text"
              name="field"
              tabindex="1"
              autocomplete="off"
              placeholder="Enter Location"
            />
            {{! <input type="text" class="my-input"class="form-control"  placeholder="Enter Email" /> }}
            <button class="btn btn-dark" id="submit" type="submit"><i
                class="bi bi-search text-primary"
              ></i></button>

          </div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/" class="nav-link" id="home">Weather</a>
          </li>
          <li class="nav-item">
            <a href="/map" class="nav-link" id="maps">Maps</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

</header>